h1{
    background-color: red;
    border-style: solid;
    margin: 50px;
}

a:link{
    color: black;
}

a:hover{
    color: red;
    font-size: 20px;
}

a:active{
    color: blue;
    font-size: 25px;
}

a:visited{
    color:green:
}